
.godot/editor/editor_layout.cfg
.godot/editor/editor_layout.cfg
.godot/editor/script_editor_cache.cfg
.godot/uid_cache.bin
*.cfg
.godot/editor/filesystem_cache8
.godot/editor/script_editor_cache.cfg
